module.exports	= {
	REQUEST_TIMEOUT	: 60000,
	TEMPLATES_DIR	: 'public/html',
	ENV				: 'development',
	SSL_KEY_PATH	: "/path/to/privkey.pem",
	SSL_CERT_PATH	: "/path/to/cert.pem",
	ADMIN_USERNAME	: "root",
	ADMIN_PASSWORD	: "toor"
};